<header>
    <div class="container d-flex justify-between align-center">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo" title="Logo" width="130px"></a>
        </div>
        
        <form class="d-flex align-center search-form">
            <div class="search">
                <i class="ri-search-line"></i>
                <input type="text" name="searchMovie" placeholder="Search for Movies, Events, Plays, Sports and Activities">
            </div>
            <a href=""><button type="submit">Search</button></a>
        </form>
    
    </div>

    <div>
        <div class="container menu">
            <a href="/"><button>Movies</button></a>
            <a href="/addMovie"><button>Add Movies</button></a>
        </div>
    </div>
</header>


